algorithmic-trading/
.ipynb_checkpoints/
sp_500_stocks.csv
**/secrets.py
.DS_Store
__pycache__
**/recommended_trades.xlsx
**/momentum_strategy.xlsx
venv/
**/secrets.py

# venv
.venv/
.venv
*.venv/
*.venv
venv/
venv


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
